We are going to create a concatenated data to join this data to the main Data Frame

This notebook looks among the AIS ANNONYMIZED Data Set of the global fishing watch **No further Investigation Research and experimentation.**

In [2]:
# We import the library
import pandas as pd
import numpy as np

In [3]:
# We read our datasets (We can also run a for loop for this)
df_drifting = pd.read_csv('/Users/rodrigo/Desktop/BrainStation/Capstone/DATASETSDIF/Anonymized AIS training data/drifting_longlines.csv')
df_fixed_gear = pd.read_csv('/Users/rodrigo/Desktop/BrainStation/Capstone/DATASETSDIF/Anonymized AIS training data/fixed_gear.csv')
df_pole_and_line = pd.read_csv('/Users/rodrigo/Desktop/BrainStation/Capstone/DATASETSDIF/Anonymized AIS training data/pole_and_line.csv')
df_pursue_seines = pd.read_csv('/Users/rodrigo/Desktop/BrainStation/Capstone/DATASETSDIF/Anonymized AIS training data/purse_seines.csv')
df_trawlers = pd.read_csv('/Users/rodrigo/Desktop/BrainStation/Capstone/DATASETSDIF/Anonymized AIS training data/trawlers.csv')
df_trollers = pd.read_csv('/Users/rodrigo/Desktop/BrainStation/Capstone/DATASETSDIF/Anonymized AIS training data/trollers.csv')
df_unknown = pd.read_csv('/Users/rodrigo/Desktop/BrainStation/Capstone/DATASETSDIF/Anonymized AIS training data/unknown.csv')

In [4]:
df_pursue_seines.shape

(1545323, 10)

In [5]:
df_pursue_seines.head()

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,9.924005e+12,1.379601e+09,0.0,1414.178833,0.0,298.500000,8.861500,-79.668427,-1.0,false_positives
1,9.924005e+12,1.379602e+09,0.0,1414.178833,0.0,298.500000,8.861506,-79.668442,-1.0,false_positives
2,9.924005e+12,1.379604e+09,0.0,1414.178833,0.1,128.399994,8.861511,-79.668488,-1.0,false_positives
3,9.924005e+12,1.379605e+09,0.0,1414.178833,0.1,111.199997,8.861511,-79.668480,-1.0,false_positives
4,9.924005e+12,1.379608e+09,0.0,1414.178833,0.0,41.700001,8.861502,-79.668503,-1.0,false_positives

In [6]:
df_pursue_seines['is_fishing'].value_counts()

is_fishing
-1.000000    1522474
 0.000000      19737
 1.000000       2740
 0.666667        155
 0.333333        117
 0.250000         76
 0.750000         24
Name: count, dtype: int64

In [4]:
# We concatenate the data so we have one big one.
files = [df_drifting,df_fixed_gear,df_pole_and_line,df_pursue_seines,df_trawlers,df_trollers,df_unknown]
ais_df = pd.concat(files,ignore_index=True)

In [5]:
ais_df.head()

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,1.263956e+13,1.327137e+09,232994.281250,311748.65625,8.2,230.500000,14.865583,-26.853662,-1.0,dalhousie_longliner
1,1.263956e+13,1.327137e+09,233994.265625,312410.34375,7.3,238.399994,14.863870,-26.856800,-1.0,dalhousie_longliner
2,1.263956e+13,1.327137e+09,233994.265625,312410.34375,6.8,238.899994,14.861551,-26.860649,-1.0,dalhousie_longliner
3,1.263956e+13,1.327143e+09,233994.265625,315417.37500,6.9,251.800003,14.822686,-26.865898,-1.0,dalhousie_longliner
4,1.263956e+13,1.327143e+09,233996.390625,316172.56250,6.1,231.100006,14.821825,-26.867579,-1.0,dalhousie_longliner

In [6]:
ais_df.shape

(28581398, 10)

In [7]:
# Checcking for missing data
ais_df.isnull().sum()

mmsi                     0
timestamp                0
distance_from_shore      0
distance_from_port       0
speed                  202
course                 202
lat                      0
lon                      0
is_fishing               0
source                   0
dtype: int64

Since we have so little null values we can drop them

In [8]:
ais_df = ais_df.dropna()

In [9]:
#Sanity Check
ais_df.isna().sum()

mmsi                   0
timestamp              0
distance_from_shore    0
distance_from_port     0
speed                  0
course                 0
lat                    0
lon                    0
is_fishing             0
source                 0
dtype: int64

In [10]:
ais_df.duplicated().sum()

0

In [11]:
ais_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28581196 entries, 0 to 28581397
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   mmsi                 float64
 1   timestamp            float64
 2   distance_from_shore  float64
 3   distance_from_port   float64
 4   speed                float64
 5   course               float64
 6   lat                  float64
 7   lon                  float64
 8   is_fishing           float64
 9   source               object
dtypes: float64(9), object(1)
memory usage: 2.3+ GB

In [12]:
# Last thing, we need to change the timestamp, we are going to change it to secs
ais_df['timestamp'] = pd.to_datetime(ais_df['timestamp'],unit='s')

In [13]:
ais_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28581196 entries, 0 to 28581397
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   mmsi                 float64
 1   timestamp            datetime64[ns]
 2   distance_from_shore  float64
 3   distance_from_port   float64
 4   speed                float64
 5   course               float64
 6   lat                  float64
 7   lon                  float64
 8   is_fishing           float64
 9   source               object
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 2.3+ GB

In [15]:
ais_df.head()

,vessel_id,timestamp,distance_from_shore_m,distance_from_port_m,speed_knots,course,latitude,longitude,is_fishing,source
0,1.263956e+13,2012-01-21 09:01:44,232994.281250,311748.65625,8.2,230.500000,14.865583,-26.853662,-1.0,dalhousie_longliner
1,1.263956e+13,2012-01-21 09:03:25,233994.265625,312410.34375,7.3,238.399994,14.863870,-26.856800,-1.0,dalhousie_longliner
2,1.263956e+13,2012-01-21 09:05:34,233994.265625,312410.34375,6.8,238.899994,14.861551,-26.860649,-1.0,dalhousie_longliner
3,1.263956e+13,2012-01-21 10:54:41,233994.265625,315417.37500,6.9,251.800003,14.822686,-26.865898,-1.0,dalhousie_longliner
4,1.263956e+13,2012-01-21 10:55:41,233996.390625,316172.56250,6.1,231.100006,14.821825,-26.867579,-1.0,dalhousie_longliner