This notebook looks among the Encouters Data Set of the global fishing watch No further Investigation Research and experimentation.

In [63]:
import pandas as pd
import numpy as np
import json

In [64]:
df1 = pd.read_csv('/Users/rodrigo/Desktop/BrainStation/Capstone/cap0.2/CVP_encounters_202405.csv')
df2 = pd.read_csv('/Users/rodrigo/Desktop/BrainStation/Capstone/cap0.2/CVP_encounters_20240611.csv')

In [65]:
df1.head()

,event_id,event_type,vessel_id,event_start,event_end,lat_mean,lon_mean,lat_min,lat_max,lon_min,lon_max,event_info,event_vessels,event_geography
0,209efbd8e1d20c13c6a8f62692310f3d.1,encounter,0126a5f97-7dd6-ac36-af0d-518f23e373ed,2024-05-09 20:20:00 UTC,2024-05-09 22:50:00 UTC,4.936533,147.921066,4.936533,4.936533,147.921066,147.921066,"{""median_distance_km"":""0.28"",""median_speed_kno...","[{""id"":""0126a5f97-7dd6-ac36-af0d-518f23e373ed""...",POINT(147.92106632435 4.9365333589)
1,209efbd8e1d20c13c6a8f62692310f3d.2,encounter,d89f068c7-7dec-4c22-a7c5-700b7529054a,2024-05-09 20:20:00 UTC,2024-05-09 22:50:00 UTC,4.936533,147.921066,4.936533,4.936533,147.921066,147.921066,"{""median_distance_km"":""0.28"",""median_speed_kno...","[{""id"":""0126a5f97-7dd6-ac36-af0d-518f23e373ed""...",POINT(147.92106632435 4.9365333589)
2,553faf8fb8b04d28cf8b470aeeb01362.2,encounter,01bfc495e-e2f9-c846-fd17-5a9c20f96554,2024-05-29 10:10:00 UTC,2024-05-29 23:50:00 UTC,43.863418,146.087450,43.863418,43.863418,146.087450,146.087450,"{""median_distance_km"":""0.042"",""median_speed_kn...","[{""id"":""027edc2d0-0d92-960b-4614-8573eaac7a59""...",POINT(146.087450327136 43.8634182842574)
3,553faf8fb8b04d28cf8b470aeeb01362.1,encounter,027edc2d0-0d92-960b-4614-8573eaac7a59,2024-05-29 10:10:00 UTC,2024-05-29 23:50:00 UTC,43.863418,146.087450,43.863418,43.863418,146.087450,146.087450,"{""median_distance_km"":""0.042"",""median_speed_kn...","[{""id"":""027edc2d0-0d92-960b-4614-8573eaac7a59""...",POINT(146.087450327136 43.8634182842574)
4,d39240bbcdd7e4a15c51b74e4f41eab8.2,encounter,01bfc495e-e2f9-c846-fd17-5a9c20f96554,2024-05-28 10:00:00 UTC,2024-05-28 23:50:00 UTC,43.864235,146.083863,43.864235,43.864235,146.083863,146.083863,"{""median_distance_km"":""0.034"",""median_speed_kn...","[{""id"":""027edc2d0-0d92-960b-4614-8573eaac7a59""...",POINT(146.083863270661 43.8642349408437)

In [66]:
df1.shape

(924, 14)

In [67]:
df2.shape

(276, 14)

In [68]:
combined_df = pd.concat([df1,df2],ignore_index=True)

In [69]:
combined_df.shape[0] == df1.shape[0] + df2.shape[0]

True

In [70]:
combined_df.head()

,event_id,event_type,vessel_id,event_start,event_end,lat_mean,lon_mean,lat_min,lat_max,lon_min,lon_max,event_info,event_vessels,event_geography
0,209efbd8e1d20c13c6a8f62692310f3d.1,encounter,0126a5f97-7dd6-ac36-af0d-518f23e373ed,2024-05-09 20:20:00 UTC,2024-05-09 22:50:00 UTC,4.936533,147.921066,4.936533,4.936533,147.921066,147.921066,"{""median_distance_km"":""0.28"",""median_speed_kno...","[{""id"":""0126a5f97-7dd6-ac36-af0d-518f23e373ed""...",POINT(147.92106632435 4.9365333589)
1,209efbd8e1d20c13c6a8f62692310f3d.2,encounter,d89f068c7-7dec-4c22-a7c5-700b7529054a,2024-05-09 20:20:00 UTC,2024-05-09 22:50:00 UTC,4.936533,147.921066,4.936533,4.936533,147.921066,147.921066,"{""median_distance_km"":""0.28"",""median_speed_kno...","[{""id"":""0126a5f97-7dd6-ac36-af0d-518f23e373ed""...",POINT(147.92106632435 4.9365333589)
2,553faf8fb8b04d28cf8b470aeeb01362.2,encounter,01bfc495e-e2f9-c846-fd17-5a9c20f96554,2024-05-29 10:10:00 UTC,2024-05-29 23:50:00 UTC,43.863418,146.087450,43.863418,43.863418,146.087450,146.087450,"{""median_distance_km"":""0.042"",""median_speed_kn...","[{""id"":""027edc2d0-0d92-960b-4614-8573eaac7a59""...",POINT(146.087450327136 43.8634182842574)
3,553faf8fb8b04d28cf8b470aeeb01362.1,encounter,027edc2d0-0d92-960b-4614-8573eaac7a59,2024-05-29 10:10:00 UTC,2024-05-29 23:50:00 UTC,43.863418,146.087450,43.863418,43.863418,146.087450,146.087450,"{""median_distance_km"":""0.042"",""median_speed_kn...","[{""id"":""027edc2d0-0d92-960b-4614-8573eaac7a59""...",POINT(146.087450327136 43.8634182842574)
4,d39240bbcdd7e4a15c51b74e4f41eab8.2,encounter,01bfc495e-e2f9-c846-fd17-5a9c20f96554,2024-05-28 10:00:00 UTC,2024-05-28 23:50:00 UTC,43.864235,146.083863,43.864235,43.864235,146.083863,146.083863,"{""median_distance_km"":""0.034"",""median_speed_kn...","[{""id"":""027edc2d0-0d92-960b-4614-8573eaac7a59""...",POINT(146.083863270661 43.8642349408437)

In [71]:
combined_df.to_csv('combined.csv')

In [72]:
combined_df['event_info']

0       {"median_distance_km":"0.28","median_speed_kno...
1       {"median_distance_km":"0.28","median_speed_kno...
2       {"median_distance_km":"0.042","median_speed_kn...
3       {"median_distance_km":"0.042","median_speed_kn...
4       {"median_distance_km":"0.034","median_speed_kn...
                              ...
1195    {"median_distance_km":"0.042","median_speed_kn...
1196    {"median_distance_km":"0.047","median_speed_kn...
1197    {"median_distance_km":"0.047","median_speed_kn...
1198    {"median_distance_km":"0.046","median_speed_kn...
1199    {"median_distance_km":"0.046","median_speed_kn...
Name: event_info, Length: 1200, dtype: object

In [73]:
def parse_event_vessels(event_vessels_str):
    try:
        # Convert the JSON string to a list of dictionaries
        vessels_list = json.loads(event_vessels_str.replace("'", "\""))
        
        # Create lists to store extracted data
        vessel_ids = []
        vessel_types = []
        vessel_ssvids = []
        vessel_names = []
        vessel_flags = []
        vessel_rfmo_authorizations = []
        vessel_origin_ports = []
        vessel_destination_ports = []
        
        # Extract details for each vessel
        for vessel in vessels_list:
            vessel_ids.append(vessel.get("id", None))
            vessel_types.append(vessel.get("type", None))
            vessel_ssvids.append(vessel.get("ssvid", None))
            vessel_names.append(vessel.get("name", None))
            vessel_flags.append(vessel.get("flag", None))
            rfmo_auth = vessel.get("authorizations", [{}])[0].get("rfmo", None)
            vessel_rfmo_authorizations.append(rfmo_auth)
            origin_port_label = vessel.get("origin_port", {}).get("label", None)
            vessel_origin_ports.append(origin_port_label)
            destination_port_label = vessel.get("destination_port", {}).get("label", None)
            vessel_destination_ports.append(destination_port_label)
        
        return pd.Series([vessel_ids, vessel_types, vessel_ssvids, vessel_names, vessel_flags, vessel_rfmo_authorizations, vessel_origin_ports, vessel_destination_ports])
    except (ValueError, TypeError):
        # Handle cases where JSON parsing fails
        return pd.Series([None]*8)

In [74]:
# Apply the function to the 'event_vessels' column to create new columns
combined_df[['vessel_ids', 'vessel_types', 'vessel_ssvids', 'vessel_names', 'vessel_flags', 'vessel_rfmo_authorizations', 'vessel_origin_ports', 'vessel_destination_ports']] = combined_df['event_vessels'].apply(parse_event_vessels)

# Explode the lists into separate rows
df_exploded = combined_df.explode(['vessel_ids', 'vessel_types', 'vessel_ssvids', 'vessel_names', 'vessel_flags', 'vessel_rfmo_authorizations', 'vessel_origin_ports', 'vessel_destination_ports'])

In [75]:
df_exploded

,event_id,event_type,vessel_id,event_start,event_end,lat_mean,lon_mean,lat_min,lat_max,lon_min,...,event_vessels,event_geography,vessel_ids,vessel_types,vessel_ssvids,vessel_names,vessel_flags,vessel_rfmo_authorizations,vessel_origin_ports,vessel_destination_ports
0,209efbd8e1d20c13c6a8f62692310f3d.1,encounter,0126a5f97-7dd6-ac36-af0d-518f23e373ed,2024-05-09 20:20:00 UTC,2024-05-09 22:50:00 UTC,4.936533,147.921066,4.936533,4.936533,147.921066,...,"[{""id"":""0126a5f97-7dd6-ac36-af0d-518f23e373ed""...",POINT(147.92106632435 4.9365333589),0126a5f97-7dd6-ac36-af0d-518f23e373ed,carrier,370070000,FONG KUO NO.819,PAN,WCPFC,BANGKOK,POHNPEI
0,209efbd8e1d20c13c6a8f62692310f3d.1,encounter,0126a5f97-7dd6-ac36-af0d-518f23e373ed,2024-05-09 20:20:00 UTC,2024-05-09 22:50:00 UTC,4.936533,147.921066,4.936533,4.936533,147.921066,...,"[{""id"":""0126a5f97-7dd6-ac36-af0d-518f23e373ed""...",POINT(147.92106632435 4.9365333589),d89f068c7-7dec-4c22-a7c5-700b7529054a,fishing,416243600,FONG KUO NO:188,TWN,WCPFC,POHNPEI,None
1,209efbd8e1d20c13c6a8f62692310f3d.2,encounter,d89f068c7-7dec-4c22-a7c5-700b7529054a,2024-05-09 20:20:00 UTC,2024-05-09 22:50:00 UTC,4.936533,147.921066,4.936533,4.936533,147.921066,...,"[{""id"":""0126a5f97-7dd6-ac36-af0d-518f23e373ed""...",POINT(147.92106632435 4.9365333589),0126a5f97-7dd6-ac36-af0d-518f23e373ed,carrier,370070000,FONG KUO NO.819,PAN,WCPFC,BANGKOK,POHNPEI
1,209efbd8e1d20c13c6a8f62692310f3d.2,encounter,d89f068c7-7dec-4c22-a7c5-700b7529054a,2024-05-09 20:20:00 UTC,2024-05-09 22:50:00 UTC,4.936533,147.921066,4.936533,4.936533,147.921066,...,"[{""id"":""0126a5f97-7dd6-ac36-af0d-518f23e373ed""...",POINT(147.92106632435 4.9365333589),d89f068c7-7dec-4c22-a7c5-700b7529054a,fishing,416243600,FONG KUO NO:188,TWN,WCPFC,POHNPEI,None
2,553faf8fb8b04d28cf8b470aeeb01362.2,encounter,01bfc495e-e2f9-c846-fd17-5a9c20f96554,2024-05-29 10:10:00 UTC,2024-05-29 23:50:00 UTC,43.863418,146.087450,43.863418,43.863418,146.087450,...,"[{""id"":""027edc2d0-0d92-960b-4614-8573eaac7a59""...",POINT(146.087450327136 43.8634182842574),027edc2d0-0d92-960b-4614-8573eaac7a59,carrier,273358410,BUKHTA ASACHA,RUS,WCPFC,BUSAN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,a10374b1012f62924c0088c92df6db76.2,encounter,81b15b348-8fda-6787-1336-ea96cd7fbbb4,2024-06-08 21:00:00 UTC,2024-06-08 23:50:00 UTC,62.558374,-31.101276,62.558374,62.558374,-31.101276,...,"[{""id"":""527fa2e76-6ab4-c74b-714c-a4975c131127""...",POINT(-31.10127585725 62.5583743932),81b15b348-8fda-6787-1336-ea96cd7fbbb4,fishing,273217010,BOOTES,RUS,ICCAT,TROMSO,None
1198,3aa2031dd11f4914deb1f602ab08dae3.2,encounter,f009ee2b6-6380-0612-017a-b4892c7bfdee,2024-06-08 14:50:00 UTC,2024-06-08 23:50:00 UTC,-13.505432,-131.492099,-13.505432,-13.505432,-131.492099,...,"[{""id"":""0b772d4e9-9b8e-0d48-db01-457c7c680c2e""...",POINT(-131.49209899885 -13.5054324878),0b772d4e9-9b8e-0d48-db01-457c7c680c2e,carrier,412421071,PINGTAIRONGLENG6,CHN,WCPFC,ZHOUSHAN,None
1198,3aa2031dd11f4914deb1f602ab08dae3.2,encounter,f009ee2b6-6380-0612-017a-b4892c7bfdee,2024-06-08 14:50:00 UTC,2024-06-08 23:50:00 UTC,-13.505432,-131.492099,-13.505432,-13.505432,-131.492099,...,"[{""id"":""0b772d4e9-9b8e-0d48-db01-457c7c680c2e""...",POINT(-131.49209899885 -13.5054324878),f009ee2b6-6380-0612-017a-b4892c7bfdee,fishing,412549377,PING TAI RONG 327,CHN,WCPFC,PAPEETE,None
1199,3aa2031dd11f4914deb1f602ab08dae3.1,encounter,0b772d4e9-9b8e-0d48-db01-457c7c680c2e,2024-06-08 14:50:00 UTC,2024-06-08 23:50:00 UTC,-13.505432,-131.492099,-13.505432,-13.505432,-131.492099,...,"[{""id"":""0b772d4e9-9b8e-0d48-db01-457c7c680c2e""...",POINT(-131.49209899885 -13.5054324878),0b772d4e9-9b8e-0d48-db01-457c7c680c2e,carrier,412421071,PINGTAIRONGLENG6,CHN,WCPFC,ZHOUSHAN,None
1199,3aa2031dd11f4914deb1f602ab08dae3.1,encounter,0b772d4e9-9b8e-0d48-db01-457c7c680c2e,2024-06-08 14:50:00 UTC,2024-06-08 23:50:00 UTC,-13.505432,-131.492099,-13.505432,-13.505432,-131.492099,...,"[{""id"":""0b772d4e9-9b8e-0d48-db01-457c7c680c2e""...",POINT(-131.49209899885 -13.5054324878),f009ee2b6-6380-0612-017a-b4892c7bfdee,fishing,412549377,PING TAI RONG 327,CHN,WCPFC,PAPEETE,None

In [76]:
df_exploded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2400 entries, 0 to 1199
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   event_id                    2400 non-null   object
 1   event_type                  2400 non-null   object
 2   vessel_id                   2400 non-null   object
 3   event_start                 2400 non-null   object
 4   event_end                   2400 non-null   object
 5   lat_mean                    2400 non-null   float64
 6   lon_mean                    2400 non-null   float64
 7   lat_min                     2400 non-null   float64
 8   lat_max                     2400 non-null   float64
 9   lon_min                     2400 non-null   float64
 10  lon_max                     2400 non-null   float64
 11  event_info                  2400 non-null   object
 12  event_vessels               2400 non-null   object
 13  event_geography             2400 non-null   object
 14  vessel_ids                  2400 non-null   object
 15  vessel_types                2400 non-null   object
 16  vessel_ssvids               2400 non-null   object
 17  vessel_names                2400 non-null   object
 18  vessel_flags                2400 non-null   object
 19  vessel_rfmo_authorizations  2392 non-null   object
 20  vessel_origin_ports         2354 non-null   object
 21  vessel_destination_ports    314 non-null    object
dtypes: float64(6), object(16)
memory usage: 431.2+ KB

In [79]:
df_exploded['vessel_rfmo_authorizations'].value_counts().sum()

2392

In [81]:
df_exploded.shape

(2400, 22)

In [21]:
df_exploded['vessel_names'].value_counts()

vessel_names
PING TAI RONG LENG1    48
HENG HONG 5            46
ZHONG XIE 8            46
PLANETA                36
SHUN TIAN FA NO.168    34
                       ..
FU YUAN YU 7011         2
GENNADY VODOLAZSKIY     2
NO.309 DAE HWA          2
NO.7 KYUNG YANG         2
PING TAI RONG 327       2
Name: count, Length: 551, dtype: int64

In [ ]:
df_exploded['vessel_names']

In [52]:
# Path to the plain text file containing vessel names
df_iuu = pd.read_csv('/Users/rodrigo/Desktop/BrainStation/Capstone/cap0.2/iuu_listed.csv')

In [42]:
def clean_name(name):
    if isinstance(name, str):
        # Convert to lowercase
        name = name.lower()
        # Remove non-alphanumeric characters except spaces
        name = re.sub(r'[^a-z0-9\s]', '', name)
        # Collapse multiple spaces into a single space
        name = ' '.join(name.split())
        return name
    return ""

# Clean the vessel names in the DataFrame
df_exploded['clean_vessel_name'] = df_exploded['vessel_names'].apply(clean_name)
df_iuu['cleaned_vessel_name'] = df_iuu['vessel_name'].apply(clean_name)

In [49]:
# Extract unique cleaned vessel names from IUU list

{'', '197'}

In [45]:
df_exploded['clean_vessel_name']

0          fong kuo no819
0          fong kuo no188
1          fong kuo no819
1          fong kuo no188
2           bukhta asacha
              ...
1197               bootes
1198     pingtairongleng6
1198    ping tai rong 327
1199     pingtairongleng6
1199    ping tai rong 327
Name: clean_vessel_name, Length: 2400, dtype: object

In [44]:
filtered_vessels

Empty DataFrame
Columns: [event_id, event_type, vessel_id, event_start, event_end, lat_mean, lon_mean, lat_min, lat_max, lon_min, lon_max, event_info, event_vessels, event_geography, vessel_ids, vessel_types, vessel_ssvids, vessel_names, vessel_flags, vessel_rfmo_authorizations, vessel_origin_ports, vessel_destination_ports, clean_vessel_name, matched_name, match_score]
Index: []

[0 rows x 25 columns]

In [53]:
df_iuu.head()

           vessel_name
0  LU RONG YUAN YU 197
1          ABDI BABA 1
2      ABISHAK PUTHA 3
3           ABUNDANT 1
4          ABUNDANT 12

In [ ]:
df_exploded['']